

# -----------------------------------------------------
# core

## models
sqlalchemy

# -----------------------------------------------------
# testing
pytest
factory_boy

# visualization
eralchemy


# -----------------------------------------------------
# db clis

## for postgresql
pgcli

## for sqlite
litecli


